h1 {
  text-align: center;
  margin-top: 10px;
  z-index: 2;
  font-family: "Rubik Dirt", Arial, Helvetica, sans-serif;
}

#img {
  width: 100%;
  z-index: -1;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
